.form
  %h2 #{I18n.t(:task_distribution_tab_table_name_pending_species)} (#{@count}) 
  %div{:style => "border:1px solid #C6C6C6; border-top:none;"}

%div{:style => "border:1px solid #C6C6C6;"}
  %table{:border => "0", :cellpadding => "3", :cellspacing => "0", :style => "border-collapse:collapse", :width => "100%"}
    %tr
      %td.table_head
        %center
          - if @sort_by == "id"
            = I18n.t(:task_distribution_tab_table_head_id)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_id)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "id"}
      %td.table_head
        %center
          - if @sort_by == "name"
            = I18n.t(:task_distribution_tab_table_head_name)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_name)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "name"}
      %td.table_head
        %center
          - if @sort_by == "date"
            = I18n.t(:task_distribution_tab_table_head_date)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_date)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "date"}
      %td.table_head
        %center
          - if @sort_by == "priority"
            = I18n.t(:task_distribution_tab_table_head_priority)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_priority)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "priority"}
      %td.table_head
        %center
          - if @sort_by == "user"
            = I18n.t(:task_distribution_tab_table_head_user)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_user)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "user"}
      %td.table_head
        %center #{I18n.t(:task_distribution_tab_table_head_text)}
      %td.table_head
        %center #{I18n.t(:task_distribution_tab_table_head_images)}
      %td.table_head
        %center #{I18n.t(:task_distribution_tab_table_head_audio_video)}
      %td.table_head
        %center #{I18n.t(:task_distribution_tab_table_head_assign)}
