.form
  %h2 #{I18n.t(:task_distribution_tab_table_name_pending_species)} (#{@count}) 
  %div{:style => "border:1px solid #C6C6C6; border-top:none;"}

%div{:style => "border:1px solid #C6C6C6; font-size: 12px;"}
  %table{:border => "0", :cellpadding => "3", :cellspacing => "0", :style => "border-collapse:collapse", :width => "100%"}
    %tr
      %td.table_head
        %center
          - if @sort_by == "id"
            = I18n.t(:task_distribution_tab_table_head_id)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_id)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "id"}
      %td.table_head
        %center
          - if @sort_by == "name"
            = I18n.t(:task_distribution_tab_table_head_name)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_name)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "name"}
      %td.table_head
        %center
          - if @sort_by == "date"
            = I18n.t(:task_distribution_tab_table_head_date)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_date)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "date"}
      %td.table_head
        %center
          - if @sort_by == "priority"
            = I18n.t(:task_distribution_tab_table_head_priority)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_priority)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "priority"}
      %td.table_head
        %center
          - if @sort_by == "user"
            = I18n.t(:task_distribution_tab_table_head_user)
          - else
            = link_to "#{I18n.t(:task_distribution_tab_table_head_user)}",
            {:controller => :task_distribution, :action => :index, :side_link => "pending_species", :sort_by => "user"}
      %td.table_head
        %center #{I18n.t(:task_distribution_tab_table_head_text)}
      %td.table_head
        %center #{I18n.t(:task_distribution_tab_table_head_images)}
      %td.table_head
        %center #{I18n.t(:task_distribution_tab_table_head_audio_video)}
      %td.table_head
        %center #{I18n.t(:task_distribution_tab_table_head_assign)}
    - td_class = 'odd'
    - @list.each do |taxon_concept|
      - #$selection_batch = BLL_selection_batches::load_by_id($taxon_concept->selection_id);
      - if td_class=='odd'
        - td_class='even'
      - else
        - td_class='odd'
      %tr
        %td{:class => "#{td_class}"} #{taxon_concept.id}
        %td{:class => "#{td_class}"}
          %a{:href => "#{I18n.t(:url_eol)}/pages/#{taxon_concept.id}", :target => "_blank"} #{taxon_concept.scientificName}
        %td{:class => "#{td_class}"}
          %center #{taxon_concept.selection_date}
        %td{:class => "#{td_class}"}
          %center #{taxon_concept.priority}
        %td{:class => "#{td_class}"}
          %center #{taxon_concept.selected_by}
        %td{:class => "#{td_class}"}
          %center #{DataObject.get_text_count(taxon_concept.id)}
        %td{:class => "#{td_class}"}
          %center #{DataObject.get_images_count(taxon_concept.id)}
        %td{:class => "#{td_class}"}
          %center #{DataObject.get_av_count(taxon_concept.id)}
        %td{:class => "#{td_class}"}
          %center
            = link_to "#{I18n.t(:task_distribution_label_assign)}",{:controller => :task_distribution, 
            :action => :assign_form, :side_link => "pending_species", :id => taxon_concept.id, 
            :selection_id => taxon_concept.selection_id, :back_controller => "task_distribution",
            :back_action => "index"}
  #ie6SelectTooltip{:style => "display:none;position:absolute;padding:1px;border:1px solid #333333;;background-color:#fffedf;font-size:smaller;"}
  %br
    %center
      = will_paginate @list
