.content
  %div{:style => "clear:both; height:15px;"}
  .form_table
    .table_of_content
      %h2 #{I18n.t(:tab_title_task_distribution)}
      %ul
        = render :partial => "task_distribution/side_links"  
    .form
      %h2 #{I18n.t(:assign_form_title_assign_species)}
      
      %form{:action => "assign", :name => "frm", :onsubmit => "return validateForm(this)"}
        %input{:name => "id", :type => "hidden", :value => "#{@taxon_concept.id}"}
        %input{:name => "side_link", :type => "hidden", :value => "#{@side_link}"}
        %input{:name => "back_controller", :type => "hidden", :value => "#{@controller}"}
        %input{:name => "back_action", :type => "hidden", :value => "#{@action}"}
        %div{:style => "border:1px solid #C6C6C6; border-top:none;"}
        %table{:border => "0", :cellpadding => "3", :cellspacing => "0", :style => "border-collapse:collapse", :width => "100%"}
          %tr
            %td.table_head{:colspan => "2"}
              %a{:href => "#{I18n.t(:url_eol)}/pages/#{@taxon_concept.id}", :target => "_blank"}
                = "#{@taxon_concept.scientificName}"
          - Status.get_phases.each do |phase|
            %tr
              %td.odd{:width => "150", :style => "font-size: 12px; color: #666666;"}
                - if phase.directly_assigned
                  %b #{phase.role}*:
                - else
                  %b #{phase.role}:
              %td.even
                - if @taxon_concept.taxon_status_id >= phase.id
                  .name{:style => "font-size: 12px; color: #666666;"} 
                    = "#{User.find(TaxonConceptAssignLog.find_by_taxon_concept_id_and_status_id(@taxon_concept.id, phase.id).user_id).name}"
                - else
                  %select{:name => "#{phase.role}", :id => "#{phase.role}"}
                    %option{:value => "0", :style => "width:230px;"} 
                    - UsersStatus.get_users_of_specified_phase(phase.id).each do |user| 
                      - if user.id == TaxonConceptAssignLog.get_responsible_for_specified_phase(@taxon_concept.id, phase.id)
                        %option{:value => "#{user.id}", :style => "width:230px;", :title => "#{user.name}(#{user.email})", :selected => "true"} #{user.name}(#{user.email})
                      - else
                        %option{:value => "#{user.id}", :style => "width:230px;", :title => "#{user.name}(#{user.email})"} #{user.name}(#{user.email})
          %tr
            %td.table_head{:colspan => "2"}
              %input.btn{:type => "submit", :value => "#{I18n.t(:button_submit)} "}
            
