:javascript
  function emptyField(textObj)
  {
    if (textObj.value.length == 0) return true;
    for (var i=0; i<textObj.value.length; ++i) {
      var ch = textObj.value.charAt(i);
      if (ch != ' ' && ch != '\t') return false;
    }
    return true;
  }
  function validateForm(frm) {
    if (emptyField(frm.old_password)) {
      alert("Enter old password");
      frm.old_password.focus();
      return false;
    }
    if (emptyField(frm.password)) {
      alert("Enter new password");
      frm.password.focus();
      return false;
    }
    if (frm.password.value.length < 8) {
      alert("Password length must be larger than or equal 8");
      frm.password.focus;
      return false;
    }
    if (frm.password.value != frm.cpassword.value) {
      alert("Two password must be identical");
      frm.cpassword.focus();
      return false;
    }
    return true;
  }
  
%form{:action => "change_password_attempt", :name => "frm", :onsubmit => "return validateForm(this)"}
  %center
    %div{:style => "width:470px;>\r\n</div>"}  
      %h2{:style => "text-align:left;"} 
        = I18n.t(:change_password)
      %div{:style => "border:1px solid #C6C6C6; border-top:none;"}
        %table{:border => "0", :cellpadding => "3", :cellspacing => "0", :style => "border-collapse:collapse>", :width => "100%"}
          %tbody
            %tr
              %td.odd{:style => "text-align:right;", :width => "120"}
                = I18n.t(:old_password)
              %td.even
                %input{:maxlength => "100", :name => "old_password", :type => "password"}
            %tr
              %td.odd{:style => "text-align:right;", :width => "120"}
                = I18n.t(:new_password)
              %td.even
                %input{:maxlength => "100", :name => "password", :type => "password"}
            %tr
              %td.odd{:style => "text-align:right;", :width => "120"}
                = I18n.t(:confirm_password)
              %td.even
                %input{:maxlength => "100", :name => "cpassword", :type => "password"}
            %tr
              %td.table_head{:colspan => "2", :style => "border:none; padding-left:180px;"}
                %input.btn{:style => "margin:5px;", :type => "submit", :value => "#{I18n.t(:change)}"}
                