.content
  %fieldset
    %legend
      = I18n.t(:users_tab_table_header)
    .btn{:style => "margin:15px 0 20px;"}
      .link_middle
        = link_to "#{I18n.t(:button_add_new)}",{:controller => :users, :action => :new}
    %div{:style => "clear: both;"} 
    %div{:style => "border:1px solid #C6C6C6; border-top:none;"}
      %table{:border => "0", :cellpadding => "3", :cellspacing => "0", :style => "border-collapse:collapse"}
        %tbody
          %tr
            %td.table_head{:align => "center"} 
              = I18n.t(:name)
            %td.table_head{:align => "center"}
              = I18n.t(:username)
            %td.table_head{:align => "center"}
              = I18n.t(:status)
            %td.table_head{:align => "center"}
              = I18n.t(:super_admin)
            %td.table_head{:align => "center"}
              = I18n.t(:selector)
            - @statuses.each do |status|
              %td.table_head{:align => "center"}
                = status.label
            %td.table_head{:align => "center"}
              = I18n.t(:edit)
          - @td_classs = 'odd'
          - @users.each do |user|
            - @td_class = (@td_class == 'odd' ? 'even': 'odd')
            %tr
              %td{:class => "#{@td_class}"}
                = user.name
              %td{:class => "#{@td_class}"}
                = user.username
              %td{:class => "#{@td_class}", :style => "text-align: center"}
                = user.status
              %td{:class => "#{@td_class}", :style => "text-align: center"}
                - if user.super_admin == 1
                  %img{:src => "/images/finished.png"}
              %td{:class => "#{@td_class}", :style => "text-align: center"}
                - if user.selector == 1
                  %img{:src => "/images/finished.png"}
              - @statuses.each do |status|
                %td{:class => "#{@td_class}", :style => "text-align: center"}
                  - if user.has_privilige?(status.id)
                    %img{:src => "/images/finished.png"}
              %td{:class => "#{@td_class}", :style => "text-align: center"}
                = link_to "#{I18n.t(:edit)}",{:controller => :users, :action => :edit, :id => user.id}
    %br
    %center
      = will_paginate @users