%head
  %title
    - # Accessibility tip: Page titles should be unique and meaningful to the page and include the site name.
    - # Home page title can just be the site name.
    - page_title =  I18n.t(:page_title_application_home)
    - if @page_title
      - page_title =  "#{@page_title}"
    &= strip_tags(page_title)
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %meta#ctl00_meta_IE{:content => "IE=8", "http-equiv" => "x-ua-compatible"}/
  %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
  :javascript
    var active_tab = "";
    function ActiveLink(name)
    {
      active_tab = name;
    }
    function trim(stringToTrim) {
    return stringToTrim.replace(/^\s+|\s+$/g,"");
    }       
