%div
  .links
    %ul
      - if session['selector'] == 1
        %li
          #select_l.left_side
          #select_m.link_middle
            = link_to "#{I18n.t(:tab_title_selection)}",{:controller => :selections, :action => :new}
          #select_r.right_side
          
      - if session['task_distributor'] == 1
        %li
          #task_l.left_side
          #task_m.link_middle
            = link_to "#{I18n.t(:tab_title_task_distribution)}",{:controller => :task_distribution, :action => :index, :side_link => "pending_species"} 
          #task_r.right_side
          
      - if session['translator'] == 1
        %li
          #trans_l.left_side
          #trans_m.link_middle
            %a{:href => "../list/mylist.php?process=2"} #{I18n.t(:tab_title_translation)}
          #trans_r.right_side
          
      - if session['scientific_reviewer'] == 1
        %li
          #scien_l.left_side
          #scien_m.link_middle
            %a{:href => "../list/mylist.php?process=3"} #{I18n.t(:tab_title_scientific_review)}
          #scien_r.right_side
          
      - if session['linguistic_reviewer'] == 1
        %li
          #ling_l.left_side
          #ling_m.link_middle
            %a{:href => "../list/mylist.php?process=4"} #{I18n.t(:tab_title_linguistic_review)}
          #ling_r.right_side
          
      - if session['final_editor'] == 1
        %li
          #final_l.left_side
          #final_m.link_middle
            %a{:href => "../list/mylist.php?process=5"} #{I18n.t(:tab_title_final_editing)}
          #final_r.right_side
          
      - if session['task_distributor'] == 1
        %li
          #report_l.left_side
          #report_m.link_middle
            %a{:href => "../report/summary.php"} #{I18n.t(:tab_title_report)}
          #report_r.right_side
          
      - if session['super_admin'] == 1
        %li
          #user_l.left_side
          #user_m.link_middle
            = link_to "#{I18n.t(:tab_title_users)}",{:controller => :users, :action => :index}
          #user_r.right_side
%div{:style => "clear:both;"} 