%div
  .links
    %ul
      - if session['selector'] == 1
        %li
          #select_l.left_side
          #select_m.link_middle
            = link_to "#{I18n.t(:tab_title_selection)}",{:controller => :selections, :action => :new}
          #select_r.right_side
          
      - if get_roles_array(session[:roles]).include? 'Distribution'
        %li
          #task_l.left_side
          #task_m.link_middle
            = link_to "#{I18n.t(:tab_title_task_distribution)}",{:controller => :task_distribution, :action => :index, :side_link => "pending_species"} 
          #task_r.right_side
      - # PHASES
      - phases_arr = session[:roles]
      - phases_arr.delete("Distribution") if phases_arr.include? "Distribution" 
      - phases_arr.each do |phase|
        %li
          #trans_l.left_side
          #trans_m.link_middle
            = link_to "#{phase.label}",{:controller => :phases, :action => :pending_species, :phase => phase.id}
          #trans_r.right_side
          
      - if get_roles_array(session[:roles]).include? 'Distribution'
        %li
          #report_l.left_side
          #report_m.link_middle
            %a{:href => "../report/summary.php"} #{I18n.t(:tab_title_report)}
          #report_r.right_side
          
      - if session['super_admin'] == 1
        %li
          #user_l.left_side
          #user_m.link_middle
            = link_to "#{I18n.t(:tab_title_users)}",{:controller => :users, :action => :index}
          #user_r.right_side
%div{:style => "clear:both;"} 