%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  = render :partial => "layouts/header"
  %body
    .wrapper
      = render :partial => "layouts/top"  
      - if !session[:user_id].nil?
        = render :partial => "layouts/tabs" 
      .content
        .title
          = I18n.t(:select_species_from_list)  
        %div{:style => "clear:both;"}
        .form_table
          .table_of_content
            %h2
              = I18n.t(:translation_tab_your_species_list)
            %ul
              %li.toc
                - pending_tab_style = params[:trstatus] == PENDING ? I18n.t(:active_table_of_content_style) : ""
                = link_to "#{I18n.t(:translation_tab_pending_species)}",{:controller => :phases, :action => :species,
                                                                         :trstatus => PENDING, :phase => params[:phase]},
                                                                         {:style => pending_tab_style} 
              %li.toc
                - completed_tab_style = params[:trstatus] == COMPLETED ? I18n.t(:active_table_of_content_style) : ""
                = link_to "#{I18n.t(:translation_tab_completed_species)}",{:controller => :phases, :action => :species,
                                                                           :trstatus => COMPLETED, :phase => params[:phase]},
                                                                         {:style => completed_tab_style} 
              %li.toc
                - search_tab_style = params[:action] == 'search' ? I18n.t(:active_table_of_content_style) : ""
                = link_to "#{I18n.t(:translation_tab_search)}",{:controller => :phases, :action => :search,
                                                                  :phase => params[:phase]},
                                                                 {:style => search_tab_style} 
          = yield
      = render :partial => "layouts/footer"
